<section class="flex p-3 card__container justify-content-between align-items-center border-round-md">
  <h2 [ngClass]="{ 'todo__done': todo.isDone }">{{ todo.task }}</h2>
  <div class="flex gap-2">
    <button [ngClass]="{ 'todo__check': todo.isDone }" pButton pRipple type="button" (click)="onToggle()"
      icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>
    <button pButton pRipple type="button" icon="pi pi-trash" (click)="onDelete()"
      class="p-button-rounded p-button-danger p-button-outlined"></button>
  </div>
</section>